@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(217.13deg, #dec84f 26.13%, #dab742b6 84.84%)
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #000000;
    border-bottom: #ffff;
    border-style: dashed;
}
.cabecalho-imagem{
    width: 150px;
    height: 150px;
    border-radius: 12px;
}
.cabecalho-menu {
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 25px;
    border-color: #62a876;
    border-style: none;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #ffbe0c;
}

.produtos {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.produtos img{
    width: 200px;
}
.produto {
    width: 200px;
    text-align: center;
}
.conteudo-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 70px;
    color: #000000;
    text-align: center;
    border-bottom: 2px solid #000000;
    padding-bottom: 48px;
}

.botao {
    padding: 10px;
    border-color: #000000;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #ffbe0c;
    
}